<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>


Create a new URL:<br>
<%= form_for(:url, url: "api/v1/urls#create") do |f| %>
  <%= f.label :url %>:
  <%= f.text_field :path %><br>
  <%= f.submit %>
<% end %>

Top <%= @urls.length %> URLs:
<table>
  <tr>
    <th>URL</th>
    <th>Slug</th>
    <th>Hit Count</th>
    <%@urls.each do |url| %>
    <tr>
      <th><%= url.path %></th>
      <th><%= url.slug %></th>
      <th><%= url.hit_count %></th>
    </tr>
    <% end %>
</table>
